body{
    line-height: 0;
}

.mainPage{
  display:none;
  margin:0;
  padding-right:40px;
}

.startPage{
 width:100%;
 height:100vh;
  background-image:url("../pictures/wallpap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}
button{
  width:180px;
  height:60px;
  border-radius:80px;
  position:relative;
  top:20%;
  background-image:url("http://pixelartmaker.com/art/0a8a31a07ea245d.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-10.paddingCol, .col-2.paddingCol{
    padding: 0;
}

#board{
    display:inline-block;
    float:right;
    width:1200px;
    height:600px;
    position: relative;
    box-sizing: border-box;
}

.blueSky{
    display:inline-block;
    border-bottom: none;
    height:30px;
    width:30px;
    background-color:#88FFFF;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.cloud{
    display:inline-block;
    height:30px;
    width:30px;
    background-color:white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.ground{
    display:inline-block;
    height:30px;
    width:30px;
    background-image:url("../pictures/ground.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.green {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/green.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .groundHerb {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/groundHerb.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .stone {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/stone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .wood{
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/wood.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }
  .batman{
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/batman.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #features{
      display:block;
      position:relative;
      right:0;
      width:100%;
      height:600px;
      background-color:black;
      opacity:0.8;

  }

  #axe, #shovel,#gun, #pioche, #shear, .feature.objects{
      display: block ;
      height:60px;
      width:60px;
      border:2px solid white;
      margin:auto;
      margin-bottom: 10px;
      position: relative;
      top:20px;
      text-align: center;
  }
  

  .inventory {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    position: relative;
    color:red;
    font-weight: 800;
 
  }

  #objects0,#objects1,#objects2,#objects3,#objects4,#objects5,#objects{
    display:inline-block;
    width:30px;
    height:30px;
    margin: auto;
    position: relative;
    top:30px;
    left:10px;
    margin-bottom: 10px;


  }

  #objects{
    width:60px;
    height:60px;
    left:50%;
    transform: translateX(-50%);

  }

  #shovel, #pioche, #shear, #axe, #gun{
    background-image: url("../pictures/shovel.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .shear{
    cursor : url(../pictures/shear.cur), auto;
}

  .shovel{
      cursor : url(../pictures/shovel.cur), auto;
  }

  #pioche{
    background-image: url("../pictures/pioche.png");
  }

  .pioche{
      cursor : url(../pictures/pickaxe.cur), auto;
  }

  #gun{
    background-image: url("../pictures/gun.png");
  }

  #axe{
    background-image: url("../pictures/axe.png");
  }
  #shear{
    background-image: url("../pictures/shear.png");
  }
  .axe{
      cursor : url(../pictures/axe.cur), auto;
  }


  .gun{
    cursor : url(../pictures/target.cur), auto;
}
  .hand{
    cursor : url(../pictures/hand.cur), auto;
  }
