body{
    line-height: 0;
}

.mainPage{
  display:none;
}

.startPage{
 width:100%;
 height:100vh;
  background-image:url("../pictures/wallpap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}
button{
  width:180px;
  height:60px;
  border-radius:80px;
  position:relative;
  top:20%;
  background-image:url("http://pixelartmaker.com/art/0a8a31a07ea245d.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-6.paddingCol, .col-3.paddingCol{
    padding: 0;
}

#board{
    display:inline-block;
    float:right;
    width:600px;
    height:600px;
    position: relative;
    box-sizing: border-box;
}

.blueSky{
    display:inline-block;
    border-bottom: none;
    height:30px;
    width:30px;
    background-color:#88FFFF;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.cloud{
    display:inline-block;
    height:30px;
    width:30px;
    background-color:white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.ground{
    display:inline-block;
    height:30px;
    width:30px;
    background-image:url("../pictures/ground.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.green {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/green.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .groundHerb {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/groundHerb.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .stone {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/stone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .wood{
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/wood.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }
  .batman{
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../pictures/batman.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  #features{
      display:block;
      position:relative;
      right:0;
      width:50%;
      height:600px;
      background-color:black;
      opacity:0.8;

  }

  #axe, #shovel, #pioche, #objects{
    display: block !important ;
      height:60px;
      width:60px;
      border:2px solid white;
      margin:auto;
      margin-bottom: 30px;
      position: relative;
      top:30%;
      transform: translateY(-30%);
  }

  #objects{
      width:32px;
      height:32px;
      margin-top: -15px;
  }

  #shovel, #pioche, #axe{
    background-image: url("../pictures/shovel.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
  }

  .shovel{
      cursor : url(../pictures/shovel.cur), auto;
  }

  #pioche{
    background-image: url("../pictures/pioche.png");
  }

  .pioche{
      cursor : url(../pictures/pickaxe.cur), auto;
  }


  #axe{
    background-image: url("../pictures/axe.png");
  }
  .axe{
      cursor : url(../pictures/axe.cur), auto;
  }

  .hand{
    cursor : url(../pictures/hand.cur), auto;
  }
